body {
    background-image: url("../images/images.jpg");

}



header {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    align-content: center;
    background-color: teal;
    padding: 10px 100px;
    margin: 10px auto;
    width: 100%;

}

p {
    font-size: 20px;
    color: dimgray;
    font-weight: bolder;

}

.container {
    margin-top: 150px;
    margin-left: 50px;

}

#gameover {
    font-size: 30px;
    font-weight: bolder;
    color: red;
}


#score {
    font-size: 20px;
    font-weight: bolder;
    color: wheat;
}

#chancesleft {
    font-size: 20px;
    font-weight: bolder;
    color:red;

}

#computerguessed {
    font-size: 20px;
    font-weight: bolder;
    color: darkolivegreen;
}

.b1 {
    
    padding: 10px 10px;
    margin: 0 auto;
}

.b2 {
    
    padding: 10px 10px;
    margin: 20px auto;
}

h1{
    color: beige; 
}